@media only screen and (min-width: 768px) {

    nav ul {
        display: flex;
    }
    
    nav ul li {
        flex: 1 1 100%;
    }
 
 nav button {
    display:none; 
}
nav ul.hide {
    display: flex;
}

section.membership {
    grid-column: 4/7;
 }

 table {
     min-width: 311px;
 }

 table td:nth-child(1) {
     width: 30%;
 }
 table {
     width: 95%;
     margin-left: 2%;

 }

}
