@media only screen and (min-width: 768px) {

    nav ul {
        display: flex;
    }
    
    nav ul li {
        flex: 1 1 100%;
    }
 
 nav button {
    display:none; 
}
nav ul.hide {
    display: flex;
}

main section.hero {
    grid-column: 1/7;
    grid-row: 2;
}

main section.hero h2{
    font-size: 2em;
}

main section.event {
    grid-column: 1/5;
    grid-row: 6;

}

.weather {
    grid-column: 5/7;
    grid-row: 6;

}












}
