@media only screen and (min-width: 768px) {

    nav ul {
        display: flex;
    }
    
    nav ul li {
        flex: 1 1 100%;
    }
 
 nav button {
    display:none; 
}
nav ul.hide {
    display: flex;
}

main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    column-gap: 10px; 
}

main section.hero {
    grid-column: 1/7;
    grid-row: 2;
}

main section.hero h2{
    font-size: 2em;
}

main section.event {
    grid-column: 1/5;
    grid-row: 6;

}

.weather {
    grid-column: 5/7;
    grid-row: 6;

}

.join {
    display: block;
    margin-top: 10px;
    padding: 5px;
    grid-column: 1/7;
    grid-row: 5;

}

section.join img{
    width: 20%;
    float: right;
    margin-top: -50px;
   }

.news {
    grid-column: 1/7;
    grid-row: 3;
}

.news p, .join p {
    padding: 30px;
}

section.news img{
    width: 50%;
    float: left;
    padding: 20px;
}










}
